body {
    width: 1500px;
    margin: 0 auto;
    background-color: bisque
}

header {
    width: 50%;
    margin: 0 auto;
}

header > h3 {
    display: inline-block;
    margin: 10% 0 0 40%;
    width: 130px;
    height: 9px;
    color: #898f99;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

header > h1 {
    display: inline-block;
    padding: 0 16%;
    width: 532px;
    height: 36px;
    color: #0ec8cb;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
} 

header > p {
    display: inline-block;
    margin: 0 0 0 16%;
    text-align: center;
    width: 513px;
    height: 43px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

main {
    margin-top: 100px;
}

section {
    width: 940px;
    height: 420px;
    box-sizing: border-box;
    font-size: 0;
    margin: 0 auto;
}

section > div {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    vertical-align: middle;
}

div > img {
    padding: 10% 0 0 35%;
}

div > h2 {
    padding: 20%;
    display: inline-block;
    text-align: center;
    width: 138px;
    height: 16px;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase
}

div > p {
    text-align: center;
    margin: 0 auto;
    width: 174px;
    height: 101px;
    color: #777777;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.block2:hover {
    background-color: #0ec8cb;
}